.emoji-name {
    color: lightgrey;
}


.box div svg {
    width: 100%;
    height: 100px;
    margin: auto;
}
.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}
.info .emoji-name {
    text-align: center;
    max-width: 135px;
    overflow-x: hidden;
    white-space: nowrap;
}
.info .dl-icon {
    width: 20px;
    height: 20px;
}



@media (max-width: 900px) {
    .box div svg {
        width: 100%;
        height: 100px;
        margin: auto;
    }
    .info .emoji-name {
        max-width: 135px;
    }
    .info .dl-icon {
        width: 20px;
        height: 20px;
    }
}