.layer {
    display: flex;
    border: solid 4px lightgray;
    border-radius: 15px;
    margin: 7px;
    height: 50px;
    align-items: center;
    justify-content: flex-end;
    background-color: darkgray;
}

.layer-image {
    margin-left: 15px;
    margin-right: auto;
}

.trash:hover {
    width: 35px
}

.arrow:hover {
    width: 20px;
}


