.AuthPage {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2vmin;
  margin-top: 40vh;
  color: lightgray;
}

.AuthPage h3 {
  margin-top: 4vmin;
  text-align: center;
  color: var(--text-light);
  cursor: pointer;
}

.fixed {
  position: absolute;
  left: 20vw;
  top: 40vh;
}

.forms {
  position: absolute;
  right: 20vw;
  top: 40vh;
}