.PartsListItem {
    margin: 5px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: solid 3px lightgray;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PartsListItem:hover {
    cursor: pointer;
}

.parts-item:hover {
    width: 40px;
    height: 40px;
}

