
.logout {
  color: lightgray;
  font-size: 22px;
  display: flex;
  align-items: center;
}


@media (min-width: 901px) {
  .UserLogOut {
    font-size: 1.5vmin;
    color: var(--text-light);
    text-align: center;
    z-index: 9999;
  }
  
  .logout {
    gap: 15px;
  }
  .logout p {
    font-weight: normal;
    margin: 0;
    border-bottom: solid 2px transparent;
    transition: all 0.5s ease-in-out;
  }
  
  
  .logout:hover p {
    border-bottom-color: var(--purplebg);
  }
  
  .logout-icon {
    height: 20px;
    width: 20px;
    fill: lightgrey;
    transition: all 0.5s ease-in-out;
  }
  
  .logout:hover .logout-icon {
    fill: var(--purplebg);
  }
}

@media (max-width: 900px) {
  .logout {
    width: 100%;
    height: 100%;
    gap: 5px;
    margin: auto;
    padding: 0;
    justify-content: center;
  }
  .logout p {
    margin: 0;
    white-space: nowrap;
  }
  .logout-icon {
    height: 20px;
    width: 20px;
    fill: lightgray;
  }
}

@media (max-width: 414px) {
  .logout {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  .logout-icon {
    width: 20px;
    height: 20px;
  }
}

