.UserLogOut {
  font-size: 1.5vmin;
  color: var(--text-light);
  text-align: center;
  display: flex;
  align-items: center;
}

.logout {
  color: lightgray;
  margin-left: 8px;
  font-size: 20px;
}

.logout:hover {
  font-weight: 700;
}
