.ProfilePage .container .emoji-grid .box .info {
    display: flex;
    flex-direction: column;
}

.icons {
    display: flex;
}
.ProfilePage .container .emoji-grid .box .info .icons .share-icon svg {
    width: 20px;
    height: 20px;
    cursor: default;
}

@media (max-width: 900px) {
}