.list {
    border: solid lightgray 4px;
    border-radius: 15px;
    width: 20vw;
    height: 50vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.list::-webkit-scrollbar {
    display: none;
}

.LayerList {
    color: lightgray;
    text-align: center;
}