.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow-y: scroll;
    height: 50vh;
    width: 100%;
    border: solid 4px lightgray;
    border-radius: 15px;
}

.grid::-webkit-scrollbar {
    display: none;
}

.CategoryList {
    grid-row: 1 / 6;
    grid-column: 1 / 2;
}

