.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    overflow-y: scroll;
}

.CategoryList {
    grid-row: 1 / 6;
    grid-column: 1 / 2;
}

.PartsListItems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}